[submodule "klaytn-terraform"]
	path = klaytn-terraform
	url = https://github.com/klaytn/klaytn-terraform.git
[submodule "klaytn-ansible"]
	path = klaytn-ansible
	url = https://github.com/2dvorak/klaytn-ansible.git
