[submodule "klaytn-terraform"]
	path = klaytn-terraform
	url = https://github.com/klaytn/klaytn-terraform.git
[submodule "klaytn-ansible"]
	path = klaytn-ansible
	url = https://github.com/klaytn/klaytn-ansible.git
[submodule "value-transfer"]
	path = value-transfer
	url = https://github.com/klaytn/servicechain-value-transfer-examples.git
